* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: sans-serif, Arial;
}

.file-load {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

.file-load__drag-zone {
  width: 80%;
  height: 80%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-radius: 30px;
}

.file-load__drag-zone_active {
  background-color: #FFEAC5;
}

.file-load__drag-zone_active .file-load__svg {
  transform: scale(0.9, 0.9);
}

.file-load__svg {
  width: 300px;
  
  transition: transform ease 0.3s;
}

.aircraft-registration {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
}

.aircraft-registration__select {
  margin-top: 30px;
  padding-left: 20px;

  cursor: pointer;

  width: 250px;
  height: 50px;

  border: none;
  border-right: 20px solid transparent;
  outline: 2px solid black;
}

.aircraft-registration__option {
  height: 30px;
}
